.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: lightgrey;
    max-width: 95%;
}
.header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: lightgrey;
    max-width: fit-content;
    padding-right:8%;
}
.header__item a {
    margin-right: 20%;
    text-decoration: none;
    color: lightgrey;
}
.header__item a:hover {
    color: rgb(143, 139, 139);
}
.header__item {
    padding: 7% 10% 7% 0;
}
.card {
    max-width: 18rem;
    height: 100%;
    margin-bottom: 3%;
}
#card_banner {
    background: rgb(235, 234, 240);
    border: none;
    margin-top: 3vh;
    padding-top: 4%;
    padding-bottom: 3%;
    max-width: 98%;
}
.card-body:not(:first-child) {
    text-align: center;
}
#card_banner .card-body {
    border: none;
}
#card_banner h1 {
    font-size: 3.5em;
}
#card_short{
    margin-top: 24%;
}
@media screen and (max-width:992px) and (min-width:768px){
    #card_short{
        margin-top: 80%;
    }
}
.footer {
    color: lightgray;
    text-align: center;
    padding: 2% 0 2% 0;
}
@media screen and (max-width:575px){
    .header__nav-list {
        flex-wrap: wrap;
    }
}
