
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: lightgrey;
}
.header__item a{
    text-decoration: none;
    color: lightgrey;
}
.header__item a:hover{
    color: rgb(143, 139, 139);
}
.header__item:first-child{
margin-right: 65%;
}
.header__item{
    padding: 1% 2% 1% 0;
}
.row:nth-child(2){
    padding-right: 0;
}
.card{
    width: 18rem; 
    height: 100%;
    margin-bottom: 3vh;

}
.card-body:not(:first-child){
    text-align: center;
}
.card_banner{
    margin-top:3vh;
    padding-top:4%;
    padding-bottom: 3%;
    width: 98%; 
    
}
.card_banner .card-body{
    border:none;
}
.card_banner h5{
    font-size: 3.5em;
}

.footer{
    color: lightgray;
    text-align: center;
    padding: 2% 0 2% 0;
}
